@import './base.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* #app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
.pastel-yellow {
  background: rgb(255, 223, 186);
}

.pastel-pink {
  background: rgb(255, 200, 200);
}

.pastel-green {
  background: rgb(197, 255, 231);
}

.pastel-purple {
  background: rgb(215, 190, 230);
}

.pastel-orange {
  background: rgb(255, 218, 185);
}

.pastel-blue {
  background: rgb(173, 216, 230);
}

.pastel-lavender {
  background: rgb(255, 240, 245);
}

.pastel-mint {
  background: rgb(223, 240, 216);
}

.pastel-peach {
  background: rgb(255, 228, 196);
}

.pastel-sky-blue {
  background: rgb(201, 220, 255);
}

.pastel-mauve {
  background: rgb(204, 153, 204);
}

.pastel-coral {
  background: rgb(255, 204, 204);
}

.pastel-aqua {
  background: rgb(173, 216, 230);
}

.pastel-rose {
  background: rgb(255, 204, 214);
}

.pastel-mint-green {
  background: rgb(152, 255, 152);
}

.pastel-lilac {
  background: rgb(200, 162, 200);
}

.pastel-peach-puff {
  background: rgb(255, 218, 185);
}

.pastel-turquoise {
  background: rgb(173, 216, 230);
}

.pastel-salmon {
  background: rgb(255, 160, 122);
}

.pastel-lavender-blush {
  background: rgb(255, 240, 245);
}

.pastel-gold {
  background: rgb(255, 223, 0);
}

.pastel-lime {
  background: rgb(173, 255, 47);
}

.pastel-cyan {
  background: rgb(135, 206, 250);
}

.pastel-champagne {
  background: rgb(247, 231, 206);
}

.pastel-turquoise-blue {
  background: rgb(173, 216, 230);
}

.pastel-lavender-gray {
  background: rgb(196, 195, 211);
}

.pastel-coral-pink {
  background: rgb(255, 131, 124);
}

.pastel-seafoam {
  background: rgb(120, 222, 172);
}

.pastel-cotton-candy {
  background: rgb(255, 188, 217);
}

.pastel-silver {
  background: rgb(192, 192, 192);
}